asgiref
certifi
cloudinary
crispy-bootstrap5
distlib
dj-database-url
Django
django-crispy-forms
django-environ
django-filter
djangorestframework
filelock
Markdown
Pillow
pip-chill
pipenv
platformdirs
protobuf
psycopg2
psycopg2-binary
pytz
setuptools
six
sqlparse
typing_extensions
tzdata
urllib3
virtualenv