appdirs
apturl
asgiref
backports.zoneinfo
bcrypt
blinker
Brlapi
certifi
chardet
Click
colorama
command-not-found
crispy-bootstrap5
cryptography
cupshelpers
dbus-python
defer
distlib
distro
distro-info
Django
django-crispy-forms
django-env
django-environ
duplicity
entrypoints
environ
fasteners
filelock
folder-color-common
future
httplib2
idna
importlib-metadata
kazam
keyring
language-selector
launchpadlib
lazr.restfulclient
lazr.uri
lockfile
louis
macaroonbakery
Mako
MarkupSafe
monotonic
more-itertools
netifaces
oauthlib
olefile
packaging
paramiko
pexpect
Pillow
pipenv
protobuf
psutil
psycopg2
pycairo
pycups
PyGObject
PyJWT
pymacaroons
PyNaCl
pyparsing
pyRFC3339
python-apt
python-dateutil
python-debian
python-decouple
pytz
pyxdg
PyYAML
reportlab
requests
requests-unixsocket
SecretStorage
simplejson
six
sqlparse
typing-extensions
ubuntu-drivers-common
ufw
unattended-upgrades
urllib3
virtualenv
virtualenv-clone
wadllib
xkit
zipp
zorin-appearance
zorin-connect
zorin-exec-guard
