{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block title %}Login{% endblock title %}

{% block content %}

<div class="container bg-yellow-400 mt-10 p-10">
    <h1 style="text-align: center; color: black;"><b>Deposite Money</b></h1>
    <form method="post" novalidate>
        {% csrf_token %}
        {% if form.non_field_errors %}
        {% for er in form.non_field_errors %}
            <p class="bg-danger text-white p-3">{{er}}</p>
        {% endfor %}
        {% endif %}
        <div style="text-align: center;">
        {% for fm in form %}
            <p style="color: black;"> {{fm.label_tag}}</p>
            {{fm}}
            <p class="text-danger">{{fm.errors | striptags}}</p>
            <br>
            {% endfor %}
            <br>
            <button type="submit" class="btn btn-danger">Submit</button>
        </div>
    </form>

</div>
{% endblock content %}