{% extends "base.html" %} {% load crispy_forms_tags %} {% block content %}
<img src="{{ Book.image.url }}" alt="{{ Book.name }}" />
<h3>Model: {{ Book.name }}</h3>
<p>Price: ${{ Book.price }}</p>
<p>Catagory: {{ Book.Catagory.name }}</p>
<p>Description: {{Book.description}}</p>
<p>Quantity: {{Book.quantity}}</p>

{% if user.is_authenticated %}
<form method="post" action="{% url 'buy_now' Book.id %}">
  {% csrf_token %}
  <button type="submit" class="btn btn-warning mb-5">Buy Now</button>
 </form>
{% endif %}

<div class="Bookd m-2">
  Total Comments : {{comments | length}}
  <div class="Bookd-body">
    {% for comment in comments %}
    <div class="Bookd p-2">
      <p>{{comment.name}}</p>
      <p>{{comment.body}}</p>
      <p>{{comment.created_on}}</p>
    </div>
    {% endfor %}
  </div>
</div>

<form style="width: 50%; margin: auto" method="post">
  <h1>Add Comment</h1>
  {% csrf_token %} {{comments_form | crispy }}
  <button class="btn btn-warning mb-5">Submit</button>
</form>

{% endblock content %}
