{% extends "base.html" %}
{%  load crispy_forms_tags %}
{% block content %}
<img src="{{ car.image.url }}" alt="{{ car.name }}" > 
<h3>Model: {{ car.name }}</h3>
<p>Price: ${{ car.price }}</p>
<p>Brand: {{ car.brand.name }}</p>
<p>Description: {{car.description}}</p>

<div class="card m-2">
    Total Comments : {{comments | length}}
    <div class="card-body">
        {% for comment in comments %}
        <div class="card p-2">
            <p>{{comment.name}}</p>
            <p>{{comment.body}}</p>
            <p>{{comment.created_on}}</p>
        </div>
        {% endfor %}
    </div>
</div>

<form style="width:50% ; margin : auto" method="post">
    <h1>Add Comment</h1>
    {% csrf_token %}
    {{comments_form | crispy }}
<button class="btn btn-warning mb-5">Submit</button>
</form>

{% endblock content %}