{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}

<h2>Your Profile</h2>
<p><strong>Username:</strong> {{ user_data.username }}</p>
<p><strong>First Name:</strong> {{ user_data.first_name }}</p>
<p><strong>Last Name:</strong> {{ user_data.last_name }}</p>
<p><strong>Email:</strong> {{ user_data.email }}</p>
<a href="{% url 'edit_profile' %}" class="btn btn-primary">Edit Profile</a>


<div class="relative overflow-x-auto shadow-md sm:rounded-lg">
  <table class="w-full text-sm text-left rtl:text-right text-yellow-500 dark:text-yellow-400">
      <thead class="text-xs text-black uppercase bg-yellow-500 dark:bg-yellow-700 dark:text-yellow-400">
          <tr>
              <th scope="col" class="px-6 py-3">
                  Book name
              </th>
              <th scope="col" class="px-6 py-3">
                  User name
              </th>
              <th scope="col" class="px-6 py-3">
                  Borrowed Date
              </th>
              <th scope="col" class="px-6 py-3">
                  Borrowed Price
              </th>
              <th scope="col" class="px-6 py-3">
                  Action
              </th>
              <th scope="col" class="px-6 py-3">
                  Action
              </th>
          </tr>
      </thead>
      <tbody>
          {% for i in data %}
          <tr class="bg-white border-b dark:bg-yellow-800 dark:border-yellow-700">
              <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                  <a class="text-blue-600" href="{% url 'bookDetails' i.book.id %}">{{i.book}}</a>
              </th>
              <td class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                  {{i.user}}
              </td>
              <td class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                  {{i.borrowing_date}}
              </td>
              <td class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                  {{i.book.borrowing_price}}
              </td>
              <td class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                <button class='btn btn-danger'> <a href="{% url 'returnBook' i.id %}" class="font-medium text-white-600 dark:text-white-500 hover:underline">Return Book</a></button>
                  
              </td>
              <td class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                <button class='btn btn-danger'> <a href="{% url 'commentViews' i.book.id %}" class="font-medium text-white-600 dark:text-white-500 hover:underline">Review</a></button>
              </td>
          </tr>
          {% endfor %} 
      </tbody>
  </table>
</div>

{% endblock %}
